<html>
<head>
    <title>Support open source.</title>
</head>
<body>
    My website.
<% if ((auth) && (user)) { %>
    <h2>welcome, <%= user %></h2>
    <form action="/logout" method='post'>
        <input type='submit' value='logout'>
    </form>

<% } %>
</body>
